# Sets tab size to 4
set tabsize 4

# Enabes auto indentation
set autoindent

# Displays line numbers
set linenumbers

# Sets the title's text color as white and removes its background color
set titlecolor white

# Sets the line numbers' text color as white and removes its background color
set numbercolor white

# Sets the shortcut helper's text color as white and removes its background color
set keycolor white

# Shows trailing spaces as green when you open a "default" file
extendsyntax default color ,green "[[:space:]]+$"
